In [1]:
sc

In [2]:
import rtree
import fiona.crs
import geopandas as gpd

import csv
import pyproj
import shapely.geometry as geom
import pandas as pd
from shapely.geometry import Point
import geopandas as gpd

In [3]:
shapefile1 = 'neighborhoods.geojson'
shapefile2 = 'boroughs.geojson'

In [4]:
neighborhoods = gpd.read_file(shapefile1).to_crs(fiona.crs.from_epsg(2263))

In [5]:
neighborhoods.head(10)

,neighborhood,borough,geometry
0,Arverne,Queens,(POLYGON ((1042695.412681766 157932.5909777609...
1,Broad Channel,Queens,(POLYGON ((1041567.549112549 166236.1995676621...
2,City Island,Bronx,(POLYGON ((1044339.234277936 246814.3387770021...
3,Edgemere,Queens,(POLYGON ((1048643.510334172 157165.0353089103...
4,Ellis Island,Manhattan,(POLYGON ((972697.5892621228 193015.8087967168...
5,Flatiron District,Manhattan,(POLYGON ((988855.2701673006 209379.9600719535...
6,Gerritsen Beach,Brooklyn,"(POLYGON ((1002290.931614938 158511.011148033,..."
7,Sea Gate,Brooklyn,"(POLYGON ((983172.240287415 151181.7700830512,..."
8,Theater District,Manhattan,(POLYGON ((988393.9578039492 213817.0774394181...
9,Throgs Neck,Bronx,(POLYGON ((1032350.968268547 234897.0683896745...

In [6]:
boroughs = gpd.read_file(shapefile2).to_crs(fiona.crs.from_epsg(2263))

In [7]:
boroughs.head()

        boroname                                           geometry
0  Staten Island  (POLYGON ((970217.0401832734 145643.3197584194...
1         Queens  (POLYGON ((1029606.004483169 156073.9244595101...
2       Brooklyn  (POLYGON ((1021176.616410234 151374.8056603043...
3      Manhattan  (POLYGON ((981219.17021961 188655.1436204575, ...
4          Bronx  (POLYGON ((1012821.759526813 229228.102345575,...

In [37]:
# taxi = sc.textFile('yellow.csv')
# taxi.first()

'tpep_pickup_datetime,tpep_dropoff_datetime,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude'

In [10]:
# df = spark.read.format("csv").option("header", "true").load("yellow.csv")

In [46]:
# df.show()

In [39]:
# boroughs.crs

In [40]:
# neighborhoods.crs

In [41]:
# from pyspark.sql.functions import udf
# mergeCols = udf(lambda lat, long: lat +','+ long)

In [42]:
# from pyspark.sql.functions import udf
# crs = {'init': 'epsg:2263'}
# def getPointImpl(lat,lon):
#     import pyproj
#     from shapely.geometry import Point
#     proj = pyproj.Proj(init = 'epsg:2263',preserver_units = True)
#     point1 = proj(lat,lon)
#     point = Point(point1[0],point1[1])
#     print(point)
#     return point
# def mergeCols(lat,lon):
#     return lat+','+lon
# getPoint = udf(getPointImpl)

In [43]:
# from pyspark.sql.functions import concat_ws
# df.withColumn("geometry", getPoint(col("dropoff_latitude"), col("dropoff_longitude"))).show(1,False)
# #df.select(concat_ws(',',df.dropoff_latitude, df.dropoff_longitude).alias('s')).collect()

In [45]:
# df['Coordinates'] = list(zip(df.dropoff_longitude, df.dropoff_latitude))

In [7]:
df = pd.read_csv('yellow.csv')

In [ ]:
projection = lambda point: proj(point.x,point.y)

In [33]:
df['geometry'] = list(zip(df.dropoff_longitude, df.dropoff_latitude))

TypeError: ufunc 'add' did not contain a loop with signature matching types dtype('<U32') dtype('<U32') dtype('<U32')

In [27]:
df['geometry'] = df['geometry'].apply(Point)

In [28]:
gdf = gpd.GeoDataFrame(df, geometry='geometry')

In [29]:
gdf['geometry'] = df['geometry'].apply(projection)

In [21]:
gdf

,tpep_pickup_datetime,tpep_dropoff_datetime,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude,geometry
0,2015-02-01 00:00:00.0,2015-02-01 00:10:10.0,40.775486,-73.958557,40.720135,-73.974976,"(302114.308719417, 61460.61128168645)"
1,2015-02-01 00:00:00.0,2015-02-01 00:03:36.0,40.728249,-73.984840,40.731392,-73.975342,"(302083.0157227006, 62710.69228659815)"
2,2015-02-01 00:00:00.0,2015-02-01 00:10:32.0,40.731014,-74.001373,40.749237,-74.003067,"(299740.98141009617, 64692.08171835882)"
3,2015-02-01 00:00:00.0,2015-02-01 00:19:42.0,40.721115,-73.987129,40.794018,-73.969910,"(302539.5089457866, 69665.3704043366)"
4,2015-02-01 00:00:00.0,2015-02-01 00:03:11.0,40.756073,-73.983414,40.756237,-73.975304,"(302085.4603585224, 65469.70884696619)"
5,2015-02-01 00:00:00.0,2015-02-01 00:00:00.0,40.730934,-74.004585,0.000000,0.000000,"(9488664.485395497, -694946.7857480245)"
6,2015-02-01 00:00:00.0,2015-02-01 00:00:00.0,40.766895,-73.953758,40.736992,-73.986534,"(301137.44239358016, 63332.355050108104)"
7,2015-02-01 00:00:00.0,2015-02-01 20:29:47.0,40.766098,-73.983696,40.684078,-73.991920,"(300683.00740702817, 57456.33800000648)"
8,2015-02-01 00:00:00.0,2015-02-01 00:17:07.0,40.778389,-73.952988,40.823750,-73.907806,"(307777.3113209865, 72970.72828472589)"
9,2015-02-01 00:00:00.0,2015-02-01 00:06:24.0,40.783718,-73.958908,40.787399,-73.978943,"(301777.3178452854, 68930.16770750501)"
10,2015-02-01 00:00:00.0,2015-02-01 00:11:56.0,40.737053,-73.981529,40.723366,-73.990280,"(300821.1886442627, 61819.15711106221)"
11,2015-02-01 00:00:01.0,2015-02-01 00:13:44.0,40.776417,-73.952583,40.769306,-73.985077,"(301259.91972770484, 66920.83707322097)"
12,2015-02-01 00:00:01.0,2015-02-01 00:12:24.0,40.739712,-74.008034,40.760014,-73.987747,"(301034.6183136882, 65888.86865112599)"
13,2015-02-01 00:00:01.0,2015-02-01 00:06:15.0,40.761604,-73.975044,40.749809,-73.977318,"(301915.5613060088, 64755.86774969776)"
14,2015-02-01 00:00:01.0,2015-02-01 00:06:58.0,40.730492,-74.001709,40.743767,-73.998894,"(300093.4347750135, 64084.61115580259)"
15,2015-02-01 00:00:01.0,2015-02-01 00:07:35.0,40.743267,-73.980019,40.731506,-73.982826,"(301450.7612534081, 62723.24980054097)"
16,2015-02-01 00:00:01.0,2015-02-01 00:06:27.0,40.760296,-73.987495,40.763763,-73.996346,"(300308.5643047637, 66305.21905694556)"
17,2015-02-01 00:00:02.0,2015-02-01 00:06:44.0,40.742687,-73.980583,40.744637,-73.991653,"(300704.94006408245, 64181.22876930932)"
18,2015-02-01 00:00:02.0,2015-02-01 00:14:09.0,40.723827,-73.996361,40.742695,-74.003525,"(299702.29268570483, 63965.580265101264)"
19,2015-02-01 00:00:02.0,2015-02-01 00:18:17.0,40.774788,-73.958450,40.840458,-73.926384,"(306208.57655910077, 74824.71106871795)"
20,2015-02-01 00:00:02.0,2015-02-01 00:04:49.0,40.722229,-73.988129,40.726746,-73.999191,"(300068.321492919, 62194.43530957647)"
21,2015-02-01 00:00:02.0,2015-02-01 00:10:38.0,40.740093,-74.001007,40.726807,-73.983215,"(301417.9919418736, 62201.348697805326)"
22,2015-02-01 00:00:02.0,2015-02-01 00:06:05.0,40.768444,-73.984695,40.767845,-73.961845,"(303221.3684143041, 66759.1855261957)"
23,2015-02-01 00:00:02.0,2015-02-01 00:20:18.0,40.737255,-73.975349,40.744324,-73.999084,"(300077.3246846391, 64146.45901400489)"
24,2015-02-01 00:00:02.0,2015-02-01 00:14:34.0,40.726429,-74.002190,40.703758,-73.994667,"(300450.69053699955, 59641.74430953301)"
25,2015-02-01 00:00:02.0,2015-02-01 00:07:10.0,40.793266,-73.974640,40.777103,-73.986671,"(301125.1646547733, 67786.69166112493)"
26,2015-02-01 00:00:02.0,2015-02-01 00:11:03.0,40.726479,-73.991669,40.739529,-74.002548,"(299784.7641376762, 63613.97565708663)"
27,2015-02-01 00:00:03.0,2015-02-01 00:27:20.0,40.732944,-74.003868,40.783157,-73.976143,"(302013.7778912748, 68459.16362386756)"
28,2015-02-01 00:00:03.0,2015-02-01 00:22:43.0,40.719398,-73.986801,40.686382,-73.942406,"(304868.59716624545, 57713.76954210492)"
29,2015-02-01 00:00:03.0,2015-02-01 00:05:24.0,40.759289,-73.919693,40.764778,-73.908791,"(307701.1052137712, 66421.90433861053)"
...,...,...,...,...,...,...,...
423096,2015-02-01 23:59:50.0,2015-02-02 00:08:27.0,40.743034,-73.980103,40.778542,-73.949165,"(304291.2477337684, 67947.55551737953)"
423097,2015-02-01 23:59:51.0,2015-02-02 00:25:20.0,40.758968,-73.979958,40.712372,-73.938881,"(305164.542337388, 60600.05422784083)"
423098,2015-02-01 23:59:52.0,2015-02-02 00:12:45.0,40.785545,-73.972755,40.738514,-73.999786,"(300018.043999785, 63501.29057526449)"
423099,2015-02-01 23:59:52.0,2015-02-02 00:17:14.0,40.715687,-74.001770,40.776951,-73.949364,"(304274.6047730998, 67770.89679362004)"
423100,2015-02-01 23:59:52.0,2015-02-02 00:21:41.0,40.769833,-73.863640,40.749817,-73.979424,"(301737.72898111516, 64756.67107389731)"
423101,2015-02-01 23:59:52.0,2015-02-02 00:34:45.0,40.763733,-73.980820,40.887665,-73.903801,"(308107.4085036486, 80068.91194228343)"
423102,2015-02-01 23:59:52.0,2015-02-02 00:02:55.0,40.739719,-74.002235,40.744152,-74.006676,"(299436.1727222885, 64127.41734051005)"
423103,2015-02-01 23:59:52.0,2015-02-02 00:09:49.0,40.779404,-73.950539,40.732258,-73.985107,"(301258.0426628998, 62806.66688404454)"
423104,2015-02-01 23:59:53.0,2015-02-02 00:06:50.0,40.774731,-73.965302,40.757317,-73.989380,"(300896.79141251877, 65589.35298866402)"
423105,2015-02-01 23:59:53.0,2015-02-02 00:05:28.0,40.741199,-73.988968,40.729671,-73.986931,"(301104.05262741866, 62519.43067768402)"
423106,2015-02-01 23:59:53.0,2015-02-02 00:05:13.0,40.753979,-73.988739,40.743458,-73.980385,"(301656.70288737636, 64050.48310018886)"
423107,2015-02-01 23:59:53.0,2015-02-02 00:05:35.0,40.758572,-73.988930,40.759441,-73.974998,"(302111.1290818141, 65825.55491053108)"
423108,2015-02-01 23:59:54.0,2015-02-02 00:19:50.0,40.750923,-73.990852,40.743198,-73.920731,"(306695.14111768635, 64024.52099556018)"
423109,2015-02-01 23:59:54.0,2015-02-02 00:06:15.0,40.756184,-73.989326,40.784958,-73.976898,"(301949.9694809377, 68659.09481151443)"
423110,2015-02-01 23:59:54.0,2015-02-02 00:07:44.0,40.769539,-73.957977,40.741863,-73.981041,"(301601.3244688565, 63873.39913986102)"
423111,2015-02-01 23:59:55.0,2015-02-02 00:16:21.0,40.769863,-73.863426,40.738464,-73.984222,"(301332.6792545227, 63495.903557804646)"
423112,2015-02-01 23:59:55.0,2015-02-02 00:24:12.0,40.764156,-73.988373,40.847645,-73.938210,"(305210.6779065688, 75622.0464972229)"
423113,2015-02-01 23:59:55.0,2015-02-02 00:02:56.0,40.766823,-73.982033,40.772404,-73.986290,"(301157.4491041724, 67264.79846777975)"
423114,2015-02-01 23:59:55.0,2015-02-02 00:13:36.0,40.720333,-73.944298,40.755547,-73.964851,"(302968.1233643993, 65393.33559263537)"
423115,2015-02-01 23:59:56.0,2015-02-02 00:07:16.0,40.819183,-73.929962,40.806290,-73.916115,"(307078.283487819, 71031.1099419667)"
423116,2015-02-01 23:59:56.0,2015-02-02 00:05:33.0,40.742081,-74.003998,40.732372,-74.003418,"(299711.2693915961, 62819.27405725608)"
423117,2015-02-01 23:59:56.0,2015-02-02 00:15:14.0,40.778782,-73.951218,40.705799,-74.009758,"(299175.37117462006, 59868.410269184744)"
423118,2015-02-01 23:59:57.0,2015-02-02 00:23:06.0,40.750858,-73.990845,40.821037,-73.937752,"(305251.3799933433, 72667.30632219421)"
423119,2015-02-01 23:59:57.0,2015-02-02 00:06:24.0,40.745083,-73.987144,40.730911,-73.989578,"(300880.389861449, 62657.07586549315)"
423120,2015-02-01 23:59:58.0,2015-02-02 00:24:18.0,40.733189,-74.006348,40.677769,-73.949738,"(304249.365728555, 56756.86937665905)"
423121,2015-02-01 23:59:59.0,2015-02-02 00:11:27.0,40.808453,-73.916328,40.803165,-73.952217,"(304032.139599778, 70681.87522206228)"
423122,2015-02-01 23:59:59.0,2015-02-02 23:42:57.0,40.797630,-73.969727,40.822590,-73.953110,"(303955.65995859244, 72838.9132494128)"
423123,2015-02-01 23:59:59.0,2015-02-02 00:10:35.0,40.758324,-73.971268,40.751751,-74.002083,"(299824.1059535491, 64971.24296384404)"
423124,2015-02-01 23:59:59.0,2015-02-02 00:13:42.0,40.759071,-73.990067,40.705208,-74.007416,"(299373.3023233233, 59802.73061523504)"
423125,2015-02-01 23:59:59.0,2015-02-02 00:20:43.0,40.727711,-73.982262,40.709553,-73.910583,"(307555.9843380955, 60289.057603847716)"